#ATUALIZAR PARA PRODUÇÃO ANTES DE FAZER O DEPLOY
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

google:
  books:
    api:
      key: ${GOOGLE_BOOKS_API_KEY}
      url: https://www.googleapis.com/books/v1

logging:
  level:
    br.com.rzaninelli.gestor: INFO